body {
  background: rgb(69, 177, 240);
  font: normal 15pt Arial;
}
header {
  color: white;
  text-align: center;
  font-style: italic;
}
section {
  background: white;
  border-radius: 15px;
  padding: 15px;
  width: 250px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}
footer {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 5px;
  font-style: italic;
}
#numeros-aleatorios {
  text-align: center;
  color: rgb(69, 177, 240);
  width: 150px;
}
ul {
  list-style: none;
}
#botao {
  height: 50px;
  border: none;
  margin-left: 15%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  background-color: rgb(69, 177, 240);
  color: white;
}
#botao:hover {
  background-color: rgb(70, 130, 180);
  transform: scale(1);
  transition: all 1.5s;
  font-size: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 414px) {
  /* Estilos para a navegação */
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  /* Estilos para o botão do menu */
  #botao {
    display: block;
    border: none;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
  }

  /* Estilos para cada item do menu de navegação */
  header {
    display: block;
    padding: 10px;
    text-align: center;
  }

  /* Estilos para as seções do conteúdo */
  section {
    display: block;
    padding: 10px;
  }
}
